* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-ser;
}
.home {
  display: grid;
  grid-template:
    "left-menu main right-menu" 1fr /
    auto 1fr auto;
  height: 100vh;
}
.left-menu {
  grid-area: left-menu;
  color: white;
  background-color: black;
  border-right: 1px solid #2f3336;
}
.main {
  grid-area: main;
  background-color: black;
}
.right-menu {
  grid-area: right-menu;
  background-color: black;
  width: 400px;
  border-left: 1px solid #2f3336;
}
/* .header {
  grid-area: header;
  background-color: red;
} */
.nav-icon {
  width: 30px;
  color: white;
  fill: currentcolor;
}
.nav-list {
  padding-left: 5rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  list-style: none;
}
.nav-list-item {
  display: grid;
  grid-template-columns: auto 1fr;
  text-decoration: none;
  /* place-content: start;
   */
  align-items: center;
  gap: 1.2rem;
  padding: 1rem;

  color: black;
}
.nav-list-item:hover {
  background-color: #181818;
  border-radius: 50px;
}
.lm-item-title {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}
.tweet-btn {
  all: unset;
  background-color: black;
  color: #1d9bf0;
  font-size: 15px;
  padding: 0.5rem 0.5rem;
  width: 200px;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  border: 0.5px solid #495864;
  cursor: pointer;
  background-color: #1d9bf0;
  font-weight: 550;
  color: white;
  margin-top: 1rem;
}

.left-menu__twitter-logo {
  width: 50px;
  margin: 1rem;
  color: white;
  fill: currentcolor;
  /* background-color: red; */
  padding: 0.5rem;
  border-radius: 50%;
}
.sign-out-btn {
  all: unset;
  background-color: black;
  color: #1d9bf0;
  font-size: 15px;
  padding: 0.5rem 0.5rem;
  width: 200px;
  height: 35px;
  text-align: center;
  /* border-radius: 50px; */
  /* border: 0.5px solid #495864; */
  cursor: pointer;
  margin-top: 2rem;
  text-align: start;
}
.main-top {
  color: white;
  background-color: black;
  padding: 1.5rem;
  position: sticky;
  top: 0%;
  /* backdrop-filter: blur(15px); */
  z-index: 10;
}
/*Home */
.user-profile-image {
  width: 50px;
  align-self: center;

  border-radius: 50%;
}
.new-tweet-form {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0.5rem;
  padding: 1rem 2rem;
  border-bottom: 1px solid #2f3336;
}
.inputs {
  display: grid;
}
.input-text {
  padding: 0.8rem 1rem;
  border-bottom: 1px solid black;
  background-color: black;
  color: #64686d;
}
.input-image {
  padding: 0.5rem 1rem;
  border-top: 1px solid black;
  background-color: black;
  color: #64686d;
}
.home__tweet-btn {
  all: unset;
  height: 30px;
  align-self: center;
  background-color: #1d9bf0;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 50px;
}
.reacting-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  /* padding: 0.5rem; */
}
.reacting-icon {
  width: 20px;
}
.tweet-image {
  width: 200px;
  border-radius: 15px;
}
.single-tweet {
  display: grid;
  justify-content: start;

  gap: 0.5rem;
  padding: 0.5rem 5rem;
  /* margin-left: 10px;
  margin-right: 10px; */
  border: 1px solid #2f3336;
  color: white;
}
/* .single-tweet img{
  width:70%;
} */
a {
  text-decoration: none;
  color: black;
}
.tweets h3 p {
  color: white;
}
.user-avatar {
  width: 40px;
  border-radius: 50%;
}
.user-info {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 1rem;
  place-items: center;
}
.tweet-text {
  align-self: start;
}
.some-div {
  display: grid;
  gap: 0.5rem;
}
.tweet-image {
  width: 50%;
  margin-left: 3.5rem;
}
.reaction-icon {
  color: #3d3f42;

  fill: currentColor;
  width: 25px;
  /* margin-left: 3rem; */
}
.reaction {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 0.8rem;
  color: #3d3f42;
  place-items: center;
}
.tweet-reactions {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 2rem;
}
.comment-icon:hover {
  color: #1b8edc;
}
.reaction.comment:hover {
  color: #1b8edc;
}
.like-icon:hover {
  color: #e61776;
}
.reaction.like:hover {
  color: #e61776;
}
.reaction:hover {
  color: red;
}
.right-menu__top {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  /* gap: 0.5rem; */
  padding: 0.8rem;
  align-items: center;
  background-color: black;
  padding-left: 2rem;
  position: sticky;
  top: 0%;
  /* backdrop-filter: blur(50px); */
  z-index: 10;
}
.magnifying-glass {
  /* padding: 0.5rem; */
  width: 44.5px;
  background-color: #202327;
  color: wheat;
  fill: currentColor;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  padding: 0.8rem;
}
.search-bar {
  background-color: #202327;
  padding: 0.79rem;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-left: 1px solid #202327;
}
.searched-users {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.name-search {
  display: grid;
  color: white;
  padding: 0.5rem 3rem;
  border: 1px solid #202327;
}
.arrow {
  font-weight: bolder;
}
.profile-avatar {
  border-radius: 50%;
  width: 150px;
  padding: 1rem;
  margin-left: 2rem;
}
.user-name {
  color: white;
}
.profile {
  color: white;
}
.profile-info {
  display: grid;
}
.stuff {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 2rem;
  align-items: center;
  border-top: 1px solid #2f3336;
}
.name-email {
  display: grid;
  gap: 0.5rem;
}
.name-email p {
  color: #4a4e51;
}
.following-followers {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.following-followers span {
  color: #4a4e51;
}
.following-followers p:hover {
  text-decoration: underline;
}
.user-tweets {
}
a {
  text-decoration: none;
}
span {
  text-decoration: none;
  color: white;
}
.no-tweets {
  color: white;
  padding: 1rem;
}
.comment-icon {
  color: #4a4e51;
}
.like-icon {
  color: #4a4e51;
}
.camera-btn {
  background-color: black;
  font-size: 20px;
}
.title {
  color: white;
}
.remove-undeline:hover {
  all: unset;
}
.tweet-text {
  color: white;
}
/*Single tweet page */
.tweet-details {
  display: grid;
  padding: 1rem;
  gap: 1.5rem;
}
.tweet-details__avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.avatar-name {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 1rem;
  align-items: center;
}
.tweet-details__text {
  font-size: 20px;
  font-weight: 500;
}
.time {
  border-bottom: 1px solid #2f3336;
  padding-bottom: 0.5rem;
}

.single-tweet__time {
  color: #474a4d;
  /* margin-bottom: 0.5rem; */
}
.tweet-details__reactions {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 1.5rem;
  border-bottom: 1px solid #2f3336;
  align-items: center;
  padding-bottom: 0.5rem;
}
.tweet-details__reactions span {
  color: #474a4d;
}
.tweet-details__reactions-number:hover {
  text-decoration: underline;
}
.tweet-details__reaction-icons {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 3rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #2f3336;
}
.tweet-details__comment-form {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5rem;
}
.comment-input {
  background-color: black;

  padding: 1rem;
}
