* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  /* height: 100vh; */
}
.signed-out-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}
.picture {
  background-image: url(https://abs.twimg.com/sticky/illustrations/lohp_en_1302x955.png);
  /* background-repeat: no-repeat; */
  background-size: cover;

}
/* .twitter-svg {
  height: fit-content;
  color: white;
} */

.twitter-svg {
  color: rgb(255, 255, 255);
  height: fit-content;
  -webkit-box-pack: center;
  justify-content: center;

  position: relative;
  vertical-align: text-bottom;
  padding: 32px;
  overflow: hidden;
  max-width: 50%;
  fill: currentcolor;
  margin-top: 100px;

}

.join-twitter {
  background-color: black;
  color: white;
}
.twitter-icon {
  height: 3rem;
  /* color: white; */
  /* border-radius: 50%; */
  /* background-color: pink; */
}
